<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="utf-8" />
    <style>
        a,a:visited,a:hover{
            text-decoration: none;
            color: black;
        }
        .flexbox{
            display: flex; /*activate power*/
            margin: 0;
            padding: 0;
            list-style: none;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: stretch;
        }
        .value{
            display: none;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            margin: 5px;
            width: 300px;
            border-radius: 3px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
            padding: 2px 16px;
        }
    </style>
</head>
<body>
<a href="{{url}}"><h2>{{name}}</h2></a>
<h4 id="title"><b>{{title}}</b></h4>
<p>Amount: {{repositories_amount}}</p>
<form action = '/getInfo/{{name}}' method="get">
    <p><b>Filter</b></p>
    <p><input id ='Issues'name="issues" type="checkbox"> Has open issues</p>
    <p><input id ='Topics'name="topics" type="checkbox"> Has Topics</p>
    <p><input id ='starred'name="starred" type="checkbox"> Starred</p>
    <p><input id='starred_value' name="starred_value" class="value" ></p>
    <p><input id="updated" name="updated" type="checkbox">Updated</p>
    <p><input id='updated_value' name="updated_value" type="date" class="value"></p>
    <p><input id="type" name="type" type="checkbox">type</p>
    <p><input id="language" name="language" type="checkbox">Language</p>
    <p><input id='language_value' name="language_value" class="value"></p>
    <p><input type="submit" value="Выбрать" ></p>
</form>

<div class="flexbox">
{{#card nav}}
    <h4 id="title"><a href="{{svn_url}}">{{name}}</a></h4>
    <p>Description: {{description}}</p>
    <p>Fork: {{fork}}</p>
    <p>Language: {{language}}</p>
    <p>Updated at: {{updated_at}}</p>
    <p>Stars: {{stargazers_count}}</p>
{{/card}}
</div>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    console.log(JSON.parse('{{reps}}'.replace(/&quot;/g,'"')))
    $("#starred").on("change", function() {
      if($('#starred').is(':checked')) {
          $('#starred_value').css('display', 'flex')
      }
      else{
          $('#starred_value').css('display', 'none')
      }
    });
    $("#updated").on("change", function() {
        if($('#updated').is(':checked')) {
            $('#updated_value').css('display', 'flex')
        }
        else{
            $('#updated_value').css('display', 'none')
        }
    });
    $("#type").on("change", function() {
        if($('#type').is(':checked')) {
            $('#type_value').css('display', 'flex')
        }
        else{
            $('#type_value').css('display', 'none')
        }
    });
    $("#language").on("change", function() {
        if($('#language').is(':checked')) {
            $('#language_value').css('display', 'flex')
        }
        else{
            $('#language_value').css('display', 'none')
        }
    });

</script>
</body>
</html>